<h1>
<%= @game.player_1.name %> vs. <%= @game.player_2.name %>
</h1>
<h2>
<%= @game.turn.name %> took damage
</h2>
<h2>
<%= @game.turn.name %>: <%= @game.turn.hp %>HP
</h2>

<form action="/switch_turn">
  <input type="submit" value="ok">
</form>
